/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
}

/* Header styling */
header {
    background-color: #75c0f1; 
}

/* Navigation styling */
nav {
    background-color: #d3d4da; 
    font-size: larger;
}

/* Main section styling */
main {
    background-color: #e0e0e0; 
    font-size: 18px; /* Example font size */ 
}

/* Footer styling */
footer {
    background-color: #7cf19f; 
}

/* List item styling */
ul {
    display: flex;
    justify-content: space-between; /* Space out the list items */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

li {
    list-style-type: none; /* Remove bullets */
}

/* Header 1 styling */
h1 {
    text-align: center; /* Example text alignment */
    font-family: 'Times New Roman', serif; /* Example font family */
    color: #379b09; /* Example text color */
}

/* Paragraph styling */
p {
    line-height: 1.6; /* Example line height */
}
